.before-login {
    
}


.menudrop{
    width: 0;
    height: 0;
    
}

.logo {
    width: 13vw;
    height: 20vh;
}
.user {
    display: flex;
    margin: 5px;
}

.user-nome {
    display: flex;
    align-items: center;
}
.img-icon-user {
    width: 9vw;
    height: 7vh;
    margin: 5px;
}

.username-perfil {
    font-size: 1em;
}

.settings-icon {
    display: flex;
    align-items: center;
}

.settings-icon .material-icons {
    margin: 5px;
}


@media screen and (min-width: 480px) {

}


