<mat-toolbar class="header mat-elevation-z4" style="height: 83px">
    <span class="menudrop">
        <a>
            <img  class="logo"src="../../../../assets/img/pipa.svg" alt="logo">
        </a>
    </span>
    <span class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">Cadastros</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Clientes</button>
            <button mat-menu-item>Baixar XML Clientes</button>
            <button mat-menu-item>Cadastro Clientes Produto</button>
            <button mat-menu-item>Sindicato</button>
            <button mat-menu-item>Usuários</button>
            <button mat-menu-item>Parceiros</button>
            <button mat-menu-item>Produtos</button>
            <button mat-menu-item>Representantes</button>
            <button mat-menu-item>Cadastro nivel de acesso</button>
            <button mat-menu-item>Consorcio</button>
            <button mat-menu-item>Cadastro de agrupamento</button>
            <button mat-menu-item>Cadastro usuário empresa</button>
            <button mat-menu-item>Usuario conta corrente</button>
            <button mat-menu-item>Rotinas</button>
        </mat-menu>
    </span>
    <span class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">Controle Interno</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Resumo cliente</button>
            <button mat-menu-item>Anexar certificado</button>
            <button mat-menu-item>Tipo de conbrança</button>
            <button mat-menu-item>Tabela de preço</button>
            <button mat-menu-item>Teste ws soluti</button>
            <button mat-menu-item>renovação clientes</button>
            <button mat-menu-item>Fechamento de comissão parceiro</button>
            <button mat-menu-item>Visita contadores</button>
            <button mat-menu-item>Fechamento de pedidos por parceiros</button>
            <button mat-menu-item>Envio mensagem</button>
            <button mat-menu-item>Termo de titularidade</button>
            <button mat-menu-item>Cadastro de metas</button>
            <button mat-menu-item>Controle de qualidade</button>
            <button mat-menu-item>Controle de visitas</button>
            <button mat-menu-item>Pos vendas</button>
            <button mat-menu-item>Bem na mão</button>
            <button mat-menu-item>Estoque</button>
        </mat-menu>
        <a>
            <i class="material-icons">

            </i>
        </a>
    </span>
    <span class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">R.H</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item></button>
            <button mat-menu-item></button>
        </mat-menu>
        <a>
            <i class="material-icons">

            </i>
        </a>
    </span>
    <span class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">Movimentação</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item></button>
            <button mat-menu-item></button>
        </mat-menu>
        <a>
            <i class="material-icons">

            </i>
        </a>
    </span>
    <span class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">Financeiro</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item></button>
            <button mat-menu-item></button>
        </mat-menu>
        <a>
            <i class="material-icons">

            </i>
        </a>
    </span>
    <span class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">Relatórios</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item></button>
            <button mat-menu-item></button>
        </mat-menu>
        <a>
            <i class="material-icons">

            </i>
        </a>
    </span>
    <span class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">Multinivel</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item></button>
            <button mat-menu-item></button>
        </mat-menu>
        <a>
            <i class="material-icons">

            </i>
        </a>
    </span>
</mat-toolbar>
