<mat-toolbar class="header mat-elevation-z4">
    <div class="">
        <a>
            <img  class="logo"src="../../../../assets/img/pipa.svg" alt="logo">
        </a>
    </div>

    <div class="menudrop">
        <button mat-button [matMenuTriggerFor]="menu">
          <span class="material-icons">
            menu
          </span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/users">Usuários</button>
        </mat-menu>
    </div>
    
    <div class="user">
        <div class="">
            <img class="img-icon-user" src="../../../../assets/img/userIcon.png" alt="">
        </div>
        <div class="user-nome" id="userID">
            <div >{{username}}</div>

            <div class="user-icon">
                <button mat-button [matMenuTriggerFor]="userConfig">
                    <span class="material-icons">
                        expand_more
                    </span>
                </button>
                <mat-menu #userConfig="matMenu">
                    <button mat-menu-item (click)="showModalConfig()">
                        <div class="settings-icon" >
                            <span class="material-icons ">
                                settings
                            </span>
                            <span>Configuração</span>
                        </div>
                    </button>

                    <button mat-menu-item (click)="showModalSuporte()">
                        <div class="settings-icon">
                            <span class="material-icons">
                                flag
                            </span>
                            <span>Suporte</span>
                        </div>
                    </button>

                    <button mat-menu-item>
                        <div class="settings-icon">
                            <span class="material-icons">
                                close
                            </span>
                            <span (click)="logout()">Sair</span>
                        </div>
                    </button>
                    
                </mat-menu>
            </div>
        </div>
    </div>
</mat-toolbar>

<div class="modal" id="modalConfig" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalConfig()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" id="modalSuport" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalSuporte()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
