.header {
    display: flex;
    align-items: center;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{

}
.menudrop{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.logo {
    width: 150px;
    height: 150px;
}