/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    padding: 0;
    max-width: 100%;
}
.red{
    color:red ;
}

.header {
    height: 12vh;
    display: flex;
    justify-content: space-between;

}

v-middle {
    vertical-align: middle;
}

.alert-success {
    margin: 2vw 2vw 0 0;
}

.content-alert {
    display: flex;
    justify-content: space-between;
}
