@import "~bootstrap/dist/css/bootstrap.css";


.content {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/img/imagemFundo1.png');
    background-size:cover; /* Isso fará com que a imagem de fundo cubra todo o elemento body */
    background-repeat: no-repeat; /* Isso impede que a imagem de fundo seja repetida */
    background-attachment: fixed;
    
    
}
.logo{
    width: 300px;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    border-radius: 10px ;
}

.alert-content{
    display: flex;
    justify-content: center;
}

.alert {
    width: 300px;
}



