@import "~bootstrap/dist/css/bootstrap.css";

.logo{
    width: 300px;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-content{
    display: flex;
    justify-content: center;
}

.alert {
    width: 300px;
}



