


<mat-card-title class="d-flex justify-content-center align-items-center"style="height: 55%">
    <span><img class="logo" src="../../../../assets/img/ronny.svg"></span>

</mat-card-title>
<mat-card >
    
    <mat-card-content class="d-flex justify-content-center">
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field >
                    <input  type="text" matInput placeholder="usuario"
                    formControlName="email">
                    
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input  type="password" matInput placeholder="Password" 
                    formControlName="password">
                </mat-form-field>
            </p>
            <div style="display: flex;">
                <div class="button">
                    <button type="submit" mat-button (click)="onSubmit()">Login</button>
                </div>
                <div class="button">
                    <button type="submit"routerLink="createAccount" mat-button>Registrar-se</button>
                </div>
            </div>
            
        </form>
    </mat-card-content>

</mat-card>







