<app-header></app-header>
    <div class="container">

        <div class="content-mat-card">
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
        </div>
    </div>
<app-footer></app-footer>
