.mL-20px{
    margin-left: 20px;
   }

.logo{
    width: 300px;
}

.container {
    width: 100%;
    height: 88%;
    background-image: url('../../../assets/img/imagemFundo1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

mat-card {
    width: 20vw;
    height: 20vh;
}

.content-mat-card {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}
