
    <div class="container">

        <div class="content-mat-card">
            <mat-card (click)="goToUsers()">
                <mat-card-title>
                    <img src="../../../assets/img/account_circle_black_24dp.svg" alt="">
                </mat-card-title>
                <mat-card-content>Gerenciamento de nível e visualização de colaboradores</mat-card-content>
            </mat-card>
            <!-- <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card> -->
        </div>
    </div>

