.mL-20px{
    margin-left: 20px;
   }

.logo{
    width: 300px;
}

.container {
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/imagemFundo1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.content-mat-card {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;

}

mat-card {
    width: 180px;
    height: 180px;
    text-align: center;
    border: 1px solid #000;
    background-image: url('../../../assets/img/imagemFundo1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: pointer;
    
}

mat-card{
   
}

mat-card-title img {
    width: 60px;
}

