<mat-card-title class="d-flex justify-content-center align-items-center"style="height: 55%">
    <span><img class="logo" src="../../../../assets/img/pipa.svg"></span>

</mat-card-title>
<mat-card >
    
    <mat-card-content class="d-flex justify-content-center">
        <form [formGroup]="createUser" (ngSubmit)="onSubmit()">
            <div class="container" style="display: flex;flex-direction: column;">
                <div style="display: flex; justify-content: space-between; flex-direction: row;">
                    <div style=" margin: 20px;">
                        <mat-form-field >
                            <input  type="text" matInput placeholder="Nome"
                            formControlName="name">
                            
                        </mat-form-field>
                    </div>
                    <div style=" margin: 20px;">
                        <mat-form-field >
                            <input  type="text" matInput placeholder="Email"
                            formControlName="email">
                            
                        </mat-form-field>
                    </div>
                </div>
                
                <div style="display: flex; justify-content: space-between; flex-direction: row;">
                    <div style=" margin: 20px;">
                        <mat-form-field >
                            <input  type="text" matInput placeholder="Telefone"
                            formControlName="telefone">
                            
                        </mat-form-field>
                    </div>
                    <div style=" margin: 20px;">
                        <mat-form-field >
                            <input  type="text" matInput placeholder="Cpf"
                            formControlName="cpf">
                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; flex-direction: row;" >
                <div style=" margin: 20px;">
                    <mat-form-field>
                        <input  type="password" matInput placeholder="Password" 
                        formControlName="password">
                    </mat-form-field>
                </div>
 
                <div class="button" style=" margin: 20px;">
                    <button type="submit" mat-button (click)="onSubmit()">Cadastrar-se</button>
                </div>
            </div>
        </form>
    </mat-card-content>

</mat-card>
