.content {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/imagemFundo1.png');
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(8px); /* Adicione o efeito de desfoque desejado */
    background-color: rgba(0, 0, 0, 0.5);
}

.user-table {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-elevation-z8 {
    width: 90% !important;
    margin-top: 10vh;

  }
  
  .mat-cell {
    height: 40px;
    cursor: pointer;
  }

  .icon-reply {
    margin:2vw 0 0 2vw;
    cursor: pointer;
}

.notFound {
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #AAAAAA;
}






  