.content {
    width: 100%;
    height: 89%;
    background-image: url('../../../assets/img/imagemFundo1.png');
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.user-table {
display: flex;
justify-content: center;
align-items: center;
}


.mat-elevation-z8 {
    width: 90% !important;
    margin-top: 10vh;
  }
  
  /* Defina a altura das células (opcional, se necessário) */
  .mat-cell {
    height: 40px; /* Defina a altura desejada para todas as células */
  }

  .icon-reply {
    margin:2vw 0 0 2vw;
    cursor: pointer;
}


  