<div class="content container">
    <app-header></app-header>
      <div class="col-md-12 content-alert">

        <div class="icon-reply"
             matTooltip="Voltar uma página">
            <span class="material-icons" routerLink="/productCreate">
                reply
            </span>
        </div>
      
        <div class="alert alert-success" role="alert" *ngIf="showPopupSucessDelete">
            Sucesso ao excluir usuário
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="showPopupErrorDelete">
            Erro ao excluir usuário
        </div>
        <div class="alert alert-success" role="alert" *ngIf="showPopupSuccessEdit">
            Sucesso ao editar os dados do usuário
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="showPopupErrorEdit">
            Erro ao editar os dados do usuário
        </div>
      </div>
      <div class="user-table">

        <table mat-table [dataSource]="usuario" class="mat-elevation-z8" *ngIf="usuario.length != 0">
            {{usuario}}

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
            <ng-container matColumnDef="telefone">
              <th mat-header-cell *matHeaderCellDef> Telefone </th>
              <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cpf">
              <th mat-header-cell *matHeaderCellDef> Cpf</th>
              <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="clearElement(element)"
                        matTooltip="Deletar usuário"
                        matTooltipPosition="above">
                  
                  <mat-icon style="color: red;">delete</mat-icon>
                </button>
                <button mat-icon-button
                        matTooltip="Editar usuário"
                        matTooltipPosition="above"
                        (click)="showModalEditUsers(element)">
                  <mat-icon style="color: #5c5c5c;">edit</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

      </div>
      <div style="display: flex; justify-content: center; align-items: center;" >
        <div class="notFound" *ngIf="usuario.length == 0">
          <h1>
            <p>Não existem dados a serem apresentados</p>
          </h1>
        </div>
      </div>
    <app-footer></app-footer>

    <div class="modal" id="modalEditUsers" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar cadastro do usuário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalEditUserAccount()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="d-flex-center">
              <div>
                  
              </div>
              <form [formGroup]="editUser">
                  <div class="container" style="display: flex;flex-direction: column;">
                      <div style="display: flex; justify-content: space-between; flex-direction: row;">
                          <div style=" margin: 20px;">
                              <mat-form-field >
                                  <input  type="text" matInput placeholder="Nome"
                                  formControlName="name">
                                  
                              </mat-form-field>
                          </div>
                          <div style=" margin: 20px;">
                              <mat-form-field >
                                  <input  type="text" matInput placeholder="Email"
                                  formControlName="email">
                                  
                              </mat-form-field>
                          </div>
                      </div>
                      
                      <div style="display: flex; justify-content: space-between; flex-direction: row;">
                          <div style=" margin: 20px;">
                              <mat-form-field >
                                  <input  type="text" matInput placeholder="Telefone"
                                  formControlName="telefone">
                                  
                              </mat-form-field>
                          </div>
                          <div style=" margin: 20px;">
                              <mat-form-field >
                                  <input  type="text" matInput placeholder="Cpf"
                                  formControlName="cpf">
                                  
                              </mat-form-field>
                          </div>
                      </div>
                  </div>
                  
              </form>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="updateUserAccount()">Save changes</button>
          </div>
        </div>
      </div>
  </div>
</div>
